{% extends "layout.html" %}

{% block title %}Rangi - Your Colors{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/colors.css') }}" />

	<script type="text/javascript">
		STATIC_ROOT = "{{ url_for('static', filename='scripts/') }}";
	</script>
	<script src="{{ url_for('static', filename='scripts/rangi.colors.jquery.js') }}"></script>
{% endblock %}

{% block content %}

<div id="titlebar">
	<span class="title">Rangi - Your Colors</span>
	<a href="/logout">Logout</a>
</div>

<div class="prototype color_box">
	<img src="{{ url_for('static', filename='images/delete_button.png') }}" alt="Delete" class="delete"/>
	<div class="color_container">
		<div class="color_swatch"></div>
		<input type="text" class="name" spellcheck="false"/><br />
		<div class="hex value"></div>
		<div class="rgb value"></div>
		<div class="hsv value"></div>
	</div>
</div>

<div id="colors">
	{% for color in user.colors %}
		<div class="color_box" data-color-id="{{ color["_id"] }}">
			<img src="{{ url_for('static', filename='images/delete_button.png') }}" alt="Delete" class="delete" data-color-id="{{ color["_id"] }}" />
			<div class="color_container">
				<div class="color_swatch" style="background-color: {{ color['hex'] }}"></div>
				<input type="text" class="name" value="{{ color['name'] }}" spellcheck="false"/><br />
				<div class="hex value">{{ color['hex'] }}</div>
				<div class="rgb value">{{ color['rgb'] }}</div>
				<div class="hsv value">{{ color['hsv'] }}</div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}
